<div class="wrapper">
<header>
    <nav>
      <div class="left-menu">
        <h1>Natflix</h1>
        <h5>Naviga<i class="fa fa-caret-down"></i></h5>
        <h5>Bambini</h5>
        <h5>Avventura</h5>
      </div><!--left-menu end-->
      <div class="right-menu">
        <h5><i class="fa fa-search"></i>Cerca</h5>
        <div class="user">
          <h5>Scroccone<i class="fa fa-caret-down"></i></h5>
        </div><!--user end-->
      </div><!--right-menu-end-->
    </nav>
    <div class="description">
      <img class="show-logo" src="https://static.tumblr.com/8y60per/DXKnmgo4g/dd_logo2.png"/>
      <p></p>
      <button class="play"><i class="fa fa-play"></i> TRAILER</button>
      <button class="add"><i class="fa fa-plus"></i> MY LIST</button>
    </div><!--description end-->
  </header>
</div>