<!-- LINKS -->
<section class="link">
  <div class="logos">
    <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
    <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
    <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
    <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
  </div>
  <div class="sub-links">
    <ul>
      <li><a href="#">Audio e sottotitoli</a></li>
      <li><a href="#">Help Center</a></li>
      <li><a href="#">Carte regalo</a></li>
      <li><a href="#">Lavora con noi</a></li>
      <li><a href="#">Termini e condizioni</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Corporate Information</a></li>
      <li><a href="#">Contattaci</a></li>
    </ul>
  </div>
</section>
<!-- END OF LINKS -->

<!-- FOOTER -->
<footer>
  <p>Natflix inc</p>
  <p></p>
</footer>